/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Navigation Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.right-links {
    margin-left: auto;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

.event {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.event h3 {
    margin-top: 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Login and Register Form Styles */

/* Form container */
.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form header */
.form-header {
    text-align: center;
    margin-bottom: 20px;
}

/* Form fields */
.form-field {
    margin-bottom: 20px;
}

/* Label styles */
.form-field label {
    display: block;
    margin-bottom: 5px;
}

/* Input styles */
.form-field input[type="text"],
.form-field input[type="email"],
.form-field input[type="password"],
.form-field textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Select styles */
.form-field select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    appearance: none;
}

/* Button styles */
.form-field button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-field button:hover {
    background-color: #0056b3;
}
